/*
*
*Title: Basic Website about MacBook;
*Author: Arlind Hysaj;
*Date: 17.03.2022;
*
*/


@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');


/**********************General Styling***********************/
:root {
	scroll-behavior: smooth;
}

body {
      margin: 0;


}



/* Navigation */

nav {
     background-color: #007FFF;
     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     display: flex;
     justify-content: space-between;  /* To make the links on the right side and the logo on the left side */
     align-items: center;
     padding: 30px;
   


}


nav img{
	height: 170px;
	border-radius: 50%;  /* To make the logo round*/


}


nav ul {
	display: flex;
justify-content: flex-end;
align-items: center;
list-style-type: none;  /* It removes the bullet points */

}

nav ul li a {
     
     margin: 18px;
     padding: 18px;
     text-decoration: none;  /* It removes the underline */
     background-color: white;
     border-radius: 15px;
     font-family: Palette Mosaic;

}

nav ul li a:hover {
	/* Hover changes the elements if we move the mouse over it */

	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
color: white;




	

}


/* Header */
header {
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
     background-position: center;
   background-size: cover;


}


header h1 {
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: Palette Mosaic;
	padding: 20px;
	border-radius: 19px;
}

header h1:hover {
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
color: white;

}


/* Main */
main {
	padding: 60px;
	background-color: #4158D0;
     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}


main h2 {
	color: white;
	font-size: 30px;
}



main p {
	background-color: rgba(255, 255, 255, 0.8);

	padding: 20px;
	border-radius: 16px;
	font-size: 20px;
	font-family: Palette Mosaic;
}

main p:hover {
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
color: white;
}


main li {
color: white;
font-size: 20px;

}


/* Section*/
section {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}


section .left {
	width: 40%;
	background-color: #007FFF;
     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	padding: 30px;
	color: white;
}



section .right {
	width: 60%;
	background-color: #FFCC70;
background-image: linear-gradient(135deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%);
     color: white;
	padding: 30px;
}





/* Footer */
footer {
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(12.jpg);
	background-size: cover;
	background-position: center;
}

footer p {
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 30px;
	padding: 20px;
	border-radius: 19px;
	font-family: Palette Mosaic;


}

footer p:hover {
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
color: white;

}









/****************************** Page Styling **********************************/

/* Home Page */

#home header {
	background-image: url(1.jpg);
}


#home #laptops {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);



}


#home #laptops img {
	width: 230px;
	margin: 10px;
	border: 10px solid darkblue;
	border-radius: 16px;
}




/* Shop Page */

#shop header {
	background-image: url(shop.jpg);
}


#shop main p {
	background-color: rgba(255,255,255,0.78);
	padding: 70px;
}