<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <title>Template</title>
           
    	<link rel="stylesheet" type="text/css" href="style.css">
    
    	
    </head>
    <body>
        <nav>
             <h4>BR  <span>Architects</span></h4>
                 
             <ul>
        <li><a href="project.html">Project</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="contact.html">Contact</a></li>
       
    </ul>
        



        </nav>

        
<section>
    
 <div>
     <img src="SummerHouse.jpg">
     <p>Summer House</p>

 </div>

 <div id="2">
     <img src="brick.jpg">
     <p>Brick House</p>

 </div>

 <div id="3">
     <img src="renovated.jpg">
     <p>Renovated</p>

 </div>

 <div id="4">
     <img src="BarnHouse.jpg">
     <p>Barn House</p>

 </div >

 <div id="5">
     
<img src="brick.jpg">
     <p>Summer House</p>
 </div>

 <div id="6">
     <img src="SummerHouse.jpg">
     <p>Brick House</p>

 </div>
 

 <div id="7">
     <img src="BarnHouse.jpg">
     <p>Renovated</p>

 </div>

 <div id="8">
     <img src="renovated.jpg">
     <p>Barn House</p>

 </div>

 </section>

<main>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae tincidunt urna, a rutrum ipsum. Integer gravida blandit nulla, vel scelerisque augue mattis sit amet. Etiam feugiat, tellus id tincidunt convallis, neque est ornare lectus, non aliquet lectus dolor sit amet leo. Ut efficitur porta dignissim. Sed aliquet libero quis magna semper consectetur. Maecenas iaculis interdum tellus id bibendum. Cras fermentum porta urna, eget eleifend mauris convallis ut. Praesent venenatis non leo eu lacinia. Nulla in sapien in massa pulvinar pretium. Aenean id molestie mi. Phasellus sed interdum risus, quis aliquet urna. Donec bibendum dictum purus, vitae pharetra diam mollis vel. Curabitur auctor, diam non rhoncus venenatis, elit libero mollis felis, sed interdum lorem sem vitae nibh. Phasellus porttitor nulla quis magna varius, vel pretium nunc tempor. </p>

</main>


<section id="LOL">
    
<div id="P">
    <div class="up"> <img src="johndoe.jpg"></div>
    <div class="down"> 
     
    <h1>John Doe</h1>
    <h4>CEO and Founder</h4>
    <p>Donec dui erat, sodales id fringilla at, scelerisque non enim. Mauris gravida turpis non ipsum luctus sagittis. Quisque tincidunt at augue non dictum.</p>
    <p>Contact</p>
    </div>

</div>





<div id="R">
    <div class="up"> <img src="janedoe.jpg"></div>
    <div class="down">
        <h1>Jane Doe</h1>
    <h4>Architect</h4>
    <p>Donec dui erat, sodales id fringilla at, scelerisque non enim. Mauris gravida turpis non ipsum luctus sagittis. Quisque tincidunt at augue non dictum.</p>
    <p>Contact</p>
    </div>
   

</div>




<div id="O">
    <div class="up"> <img src="mikeross.jpg"></div>
    <div class="down">
        <h1>Mike Ross</h1>
    <h4>Architect</h4>
    <p>Donec dui erat, sodales id fringilla at, scelerisque non enim. Mauris gravida turpis non ipsum luctus sagittis. Quisque tincidunt at augue non dictum.</p>
    <p>Contact</p>

    </div>

</div>






<div id="M">
    <div class="up"> <img src="danstar.jpg"></div>
    <div class="down">
        
        <h1>Dan Star</h1>
    <h4>Architect</h4>
    <p>Donec dui erat, sodales id fringilla at, scelerisque non enim. Mauris gravida turpis non ipsum luctus sagittis. Quisque tincidunt at augue non dictum.</p>
    <p>Contact</p>
    </div>

</div>












</section>


          

</p>
</body>
</html>
